body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2a2a;
    color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header-content h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #ffffff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.nome-loja{
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}

.nav-links a {
    color: #c1c1c1;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    background-color: #4f6d7a;
    color: #ffffff;
}

#botao_acessibilidade1 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

#imgacessibilidade {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
}

#imgacessibilidade:hover {
    transform: scale(1.1);
}

#direitosautorais {
    color: #e0e0e0; 
}

.contact {
    text-align: center;
    background: #1a1a1a; 
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    color: #4f6d7a;
    margin-bottom: 1rem;
}

#tipodecontato {
    color: #e0e0e0; 
    font-family: Verdana;
}


#deixe-feedback {
    background-color: #726f71;
    color: white;
    font-size: 1.2rem;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#deixe-feedback:hover {
    background-color: #5e5b5d;
}

#link-html{
    color: white;
    text-decoration: none;
}

.footer {
    background-color: #333333; 
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1rem 0rem; 
    font-size: 1rem;
    border-top: 3px solid #4f6d7a; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.footer p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.footer:hover {
    background-color: #4f6d7a;
}


.footer a {
    color: #4f6d7a;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer a:hover {
    text-decoration: underline;
    color: #e0e0e0;
    transform: scale(1.1);
}

#zapemail {
    color: #e0e0e0; 
}


#zapemail:hover {
    background-color: #4f6d7a;
    color: #121212;
}

#tipodecontato {
    color: #e0e0e0;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
 
    .navbar {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    .navbar a{
        background-color: #4f6d7a2f;
    }

    .contact {
        padding: 1.5rem;
    }

    #deixe-feedback {
        font-size: 1rem;
        padding: 8px 20px;
        margin-bottom: 50px;
    }
}
@media (max-width: 480px) {
    .header-content h1 {
        font-size: 2rem;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 0.5rem;
    }

    .nav-links a {
        font-size: 1.5rem; 
        padding: 0.3rem 0.6rem;
        background-color: #4f6d7a2f;
    }

    #imgacessibilidade {
        height: 25px;
        width: 25px;
    }

    .contact h2 {
        font-size: 1.5rem;
    }

    #deixe-feedback {
        font-size: 0.9rem;
        padding: 8px 20px;
        margin-bottom: 50px;
    }

    .footer p {
        font-size: 1rem;
    }
}
